<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingzhun.dao.CashDao" >
  <resultMap id="BaseResultMap" type="com.jingzhun.entity.Cash" >
    <id column="cash_id" property="cashId" jdbcType="INTEGER" />
    <result column="cash_date" property="cashDate" jdbcType="TIMESTAMP" />
    <result column="cash_score" property="cashScore" jdbcType="DECIMAL" />
    <result column="cash_state" property="cashState" jdbcType="VARCHAR" />
    <result column="cash_account_id" property="cashAccountId" jdbcType="INTEGER" />
    <result column="cash_user_id" property="cashUserId" jdbcType="INTEGER" />
  </resultMap>
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dishwasher_cash
    where cash_id = #{cashId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingzhun.entity.Cash" >
    insert into t_dishwasher_cash (cash_id, cash_date, cash_score, 
      cash_state, cash_account_id, cash_user_id
      )
    values (#{cashId,jdbcType=INTEGER}, #{cashDate,jdbcType=TIMESTAMP}, #{cashScore,jdbcType=DECIMAL}, 
      #{cashState,jdbcType=VARCHAR}, #{cashAccountId,jdbcType=INTEGER}, #{cashUserId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jingzhun.entity.Cash" >
    update t_dishwasher_cash
    set cash_date = #{cashDate,jdbcType=TIMESTAMP},
      cash_score = #{cashScore,jdbcType=DECIMAL},
      cash_state = #{cashState,jdbcType=VARCHAR},
      cash_account_id = #{cashAccountId,jdbcType=INTEGER},
      cash_user_id = #{cashUserId,jdbcType=INTEGER}
    where cash_id = #{cashId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select cash_id, cash_date, cash_score, cash_state, cash_account_id, cash_user_id
    from t_dishwasher_cash
    where cash_id = #{cashId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select cash_id, cash_date, cash_score, cash_state, cash_account_id, cash_user_id
    from t_dishwasher_cash
  </select>-->

<!--提现记录详情-->
  <select id="selectByCashRecord" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select cash_id, cash_date, cash_score, cash_state, cash_account_id
    from t_dishwasher_cash
    where cash_user_id = #{userId,jdbcType=INTEGER} order by cash_date desc
   </select>

<!--添加提现记录-->
  <insert id="insert" parameterType="com.jingzhun.entity.Cash" >
    insert into t_dishwasher_cash (cash_id, cash_date, cash_score,
    cash_state, cash_account_id, cash_user_id
    )
    values (0, #{cashDate,jdbcType=TIMESTAMP}, #{cashScore,jdbcType=DECIMAL},
    0, #{cashAccountId,jdbcType=INTEGER}, #{cashUserId,jdbcType=INTEGER}
    )
  </insert>
</mapper>