<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingzhun.dao.DeviceStyleDao" >
  <resultMap id="BaseResultMap" type="com.jingzhun.entity.DeviceStyle" >
      <id column="id" property="deviceStyleId" jdbcType="INTEGER" />
      <result column="devie_style_name" property="devieStyleName" jdbcType="VARCHAR" />
      <result column="devie_style_month_supply" property="devieStyleMonthSupply" jdbcType="DECIMAL" />
      <result column="device_style_number" property="deviceStyleNumber" jdbcType="INTEGER" />
  </resultMap>

    <!--查询设备类型-->
    <select id="selectByStyleId" resultMap="BaseResultMap" >
        select id,devie_style_name,devie_style_month_supply,device_style_number
        from t_dishwasher_device_style where id=#{deviceStyleId,jdbcType=INTEGER}
    </select>





</mapper>