<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingzhun.dao.GoodsDao" >
  <resultMap id="BaseResultMap" type="com.jingzhun.entity.Goods" >
    <id column="id" property="goodsId" jdbcType="INTEGER" />
    <result column="goods_title" property="goodsTitle" jdbcType="VARCHAR" />
    <result column="goods_sn" property="goodsSn" jdbcType="VARCHAR" />
    <result column="goods_currnet_score" property="goodsCurrnetScore" jdbcType="DECIMAL" />
    <result column="goods_origin_score" property="goodsOriginScore" jdbcType="DECIMAL" />
    <result column="goods_service_type" property="goodsServiceType" jdbcType="VARCHAR" />
    <result column="goods_business" property="goodsBusiness" jdbcType="VARCHAR" />
    <result column="goods_describe" property="goodsDescribe" jdbcType="VARCHAR" />
    <result column="goods_delete_state" property="goodsDeleteState" jdbcType="VARCHAR" />
    <collection property="goodsImgList" javaType="java.util.List" ofType="com.jingzhun.entity.GoodsImg">
      <result column="id1" property="goodsImgId"/>
      <result column="goods_img_img" property="goodsImgImg" />
      <result column="goods_img_goods_id" property="goodsImgGoodsId" />
      <result column="goods_img_state" property="goodsImgState"  />
      <result column="goods_img_type" property="goodsImgType"  />
    </collection>
  </resultMap>
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dishwasher_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingzhun.entity.Goods" >
    insert into t_dishwasher_goods (goods_id, goods_title, goods_currnet_score, 
      goods_origin_score, goods_service_type, goods_business, 
      goods_describe, goods_delete_state)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsTitle,jdbcType=VARCHAR}, #{goodsCurrnetScore,jdbcType=DECIMAL}, 
      #{goodsOriginScore,jdbcType=DECIMAL}, #{goodsServiceType,jdbcType=VARCHAR}, #{goodsBusiness,jdbcType=VARCHAR}, 
      #{goodsDescribe,jdbcType=VARCHAR}, #{goodsDeleteState,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jingzhun.entity.Goods" >
    update t_dishwasher_goods
    set goods_title = #{goodsTitle,jdbcType=VARCHAR},
      goods_currnet_score = #{goodsCurrnetScore,jdbcType=DECIMAL},
      goods_origin_score = #{goodsOriginScore,jdbcType=DECIMAL},
      goods_service_type = #{goodsServiceType,jdbcType=VARCHAR},
      goods_business = #{goodsBusiness,jdbcType=VARCHAR},
      goods_describe = #{goodsDescribe,jdbcType=VARCHAR},
      goods_delete_state = #{goodsDeleteState,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select goods_id, goods_title, goods_currnet_score, goods_origin_score, goods_service_type, 
    goods_business, goods_describe, goods_delete_state
    from t_dishwasher_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>-->

  <!--首页展示商品标题 积分和展示图片-->
  <select id="selectAll" resultMap="BaseResultMap" >
    select t_dishwasher_goods.id, goods_title, goods_currnet_score,goods_img_img,t_dishwasher_goods_img.id id1
    from t_dishwasher_goods left join t_dishwasher_goods_img  on t_dishwasher_goods.id=t_dishwasher_goods_img.goods_img_goods_id where goods_delete_state=0 and goods_img_state=0 and goods_img_type=0
  </select>

  <!--商品详情-->
  <select id="selectById" resultMap="BaseResultMap" >
     select t_dishwasher_goods.id, goods_title, goods_currnet_score,goods_origin_score,goods_business,goods_img_img,goods_describe,t_dishwasher_goods_img.id id1
    from t_dishwasher_goods left join t_dishwasher_goods_img  on t_dishwasher_goods.id=t_dishwasher_goods_img.goods_img_goods_id where goods_img_goods_id=#{goodsImgGoodsId} and goods_delete_state=0 and goods_img_state=1 and goods_img_type=0
  </select>

  <!--确认订单-->
  <select id="selectByGoodsId" resultMap="BaseResultMap" >
    select t_dishwasher_goods.id, goods_title, goods_currnet_score,goods_img_img,t_dishwasher_goods_img.id id1
    from t_dishwasher_goods left join t_dishwasher_goods_img  on t_dishwasher_goods.id=t_dishwasher_goods_img.goods_img_goods_id where t_dishwasher_goods.id=#{goodsId} and goods_delete_state=0 and goods_img_state=0
  </select>
</mapper>