<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingzhun.dao.OrderDao" >
  <resultMap id="BaseResultMap" type="com.jingzhun.entity.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_message" property="orderMessage" jdbcType="VARCHAR" />
    <result column="order_freight" property="orderFreight" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="order_total_price" property="orderTotalPrice" jdbcType="DECIMAL" />
    <result column="order_address_id" property="orderAddressId" jdbcType="INTEGER" />
    <result column="order_user_id" property="orderUserId" jdbcType="INTEGER" />
  </resultMap>
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dishwasher_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jingzhun.entity.Order" >
    insert into t_dishwasher_order (order_id, order_message, order_freight, 
      order_date, order_total_price, order_address_id, 
      order_user_id)
    values (#{orderId,jdbcType=INTEGER}, #{orderMessage,jdbcType=VARCHAR}, '包邮',
      #{orderDate,jdbcType=TIMESTAMP}, #{orderTotalPrice,jdbcType=DECIMAL}, #{orderAddressId,jdbcType=INTEGER}, 
      #{orderUserId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jingzhun.entity.Order" >
    update t_dishwasher_order
    set order_message = #{orderMessage,jdbcType=VARCHAR},
      order_freight = #{orderFreight,jdbcType=DECIMAL},
      order_date = #{orderDate,jdbcType=TIMESTAMP},
      order_total_price = #{orderTotalPrice,jdbcType=DECIMAL},
      order_address_id = #{orderAddressId,jdbcType=INTEGER},
      order_user_id = #{orderUserId,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select order_id, order_message, order_freight, order_date, order_total_price, order_address_id, 
    order_user_id
    from t_dishwasher_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select order_id, order_message, order_freight, order_date, order_total_price, order_address_id, 
    order_user_id
    from t_dishwasher_order
  </select>
-->
  <!--提交订单-->
  <insert id="insertOrder" parameterType="com.jingzhun.entity.Order" >
    insert into t_dishwasher_order (order_id, order_message, order_freight,
    order_date, order_total_price, order_address_id,
    order_user_id)
    values (0, #{orderMessage,jdbcType=VARCHAR}, '包邮',
    #{orderDate,jdbcType=TIMESTAMP}, #{orderTotalPrice,jdbcType=DECIMAL}, #{orderAddressId,jdbcType=INTEGER},
    #{orderUserId,jdbcType=INTEGER})
  </insert>
</mapper>